.chegada-img {
  width: 312px;
  height: 360px;
  background: url(../img/travel-blog/Tokyo-bg-chegada-mobile.png) no-repeat;
  background-size: cover;
}

.acomodacao-img {
  width: 312px;
  height: 300px;
  background: url(../img/travel-blog/Tokyo2-bg-acomodacao-mobile.png) no-repeat;
  background-size: cover;
  margin-bottom: 8px;
}

.reteiroviagem-titulo {
  margin: 32px 0 24px 0;
  font-weight: var(--title-weight);
}

.roteiro-viagem-texto {
  font-size: 20px;
  line-height: 32px;
  margin: 24px 0 24px 0;
}

span {
  font-size: 14px;
}

.img-posts-first {
  width: 312px;
  height: 300px;
  background: url(../img/travel-blog/Osaka-bg-post-mobile.png) no-repeat;
  background-size: cover;
}

.img-posts-secund {
  width: 312px;
  height: 300px;
  background: url(../img/travel-blog/Hiroshima-bg-post-mobile.png) no-repeat;
  background-size: cover;
}

.img-posts-thirdy {
  width: 312px;
  height: 300px;
  background: url(../img/travel-blog/Kyoto-bg-post-mobile.png) no-repeat;
  background-size: cover;
}

.post-titulo {
  margin: 16px 0 8px;
}

.post-texto {
  font-size: 20px;
  line-height: 32px;
}

.posts .button {
  width: 280px;
  height: 64px;
  border-radius: 8px;
  margin: 16px 0 40px;
}

#button {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .roteiro-viagem-item.chegada {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .reteiro-viagem-titulo.chegada {
    margin: 0;
  }
  .roteiro-viagem-texto.chegada {
    width: 312px;
    font-size: 20px;
  }
  .roteiro-viagem-texto {
    width: 648px;
  }
  .acomodacao-img {
    width: 100%;
    background: url(../img/travel-blog/Tokyo2-bg-acomodacao-tablet.png)
      no-repeat;
    background-size: cover;
  }
  .img-posts-first {
    background: url(../img/travel-blog/Osaka-bg-post-tablet.png) no-repeat;
    background-size: cover;
    width: 100%;
  }
  .img-posts-secund {
    background: url(../img/travel-blog/Hiroshima-bg-post-tablet.png) no-repeat;
    background-size: cover;
    width: 100%;
  }
  .img-posts-thirdy {
    width: 100%;
    background: url(../img/travel-blog/Kyoto-bg-post-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .chegada-img {
    width: 100%;
    background: url(../img/travel-blog/Tokyo-bg-chegada-desktop-g.png) no-repeat;
    background-size: cover;
  }
  .roteiro-viagem-texto.chegada {
    width: 438px;
    font-size: 20px;
  }
  .roteiro-viagem-texto {
    width: 910px;
  }
  .acomodacao-img {
    width: 100%;
    background: url(../img/travel-blog/Tokyo-acomodacao-desktop.png) no-repeat;
    background-size: cover;
  }
  .posts-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .post-content {
    width: 283px;
  }
  .posts .button {
    width: 283px;
  }
  .img-posts-first {
  background: url(../img/travel-blog/Osaka-bg-post-mobile.png) no-repeat;
  background-size: cover;
}
.img-posts-secund {
  background: url(../img/travel-blog/Hiroshima-bg-post-mobile.png) no-repeat;
  background-size: cover;
}
.img-posts-thirdy {
  background: url(../img/travel-blog/Kyoto-bg-post-mobile.png) no-repeat;
  background-size: cover;
}
}

@media screen and (min-width: 1440px){ 
  .post-content {
    width: 384px;
  }
  .chegada-img {
  width: 588px;
  background: url(../img/travel-blog/Tokyo-bg-chegada-desktop.png) no-repeat;
  background-size: cover;
}
.roteiro-viagem-texto.chegada {
    width: 588px;
    height: 160px;
  }
  .roteiro-viagem-texto {
    width: 1200px;
  }
}
