.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}
.valor {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-bottom: 24;
}
.payments .image-gallery .image.first {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.second {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.thirdy {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.payments .image-gallery .image.thirdy.colspan-2 {
  grid-column: span 2;
}
.payments .image-gallery .image.first {
  background: url(../img/travel-packages/gallery-1mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.payments .image-gallery .image.second {
  background: url(../img/travel-packages/gallery-2mobile.png) no-repeat;
  background-size: cover;
}
.payments .image-gallery .image.thirdy {
  background: url(../img/travel-packages/gallery-3mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .payments .image-gallery .image.first {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.second {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.thirdy {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

 .payments .image-gallery .image.first {
    background: url(../img/travel-packages/gallery-1tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .payments .image-gallery .image.second {
    background: url(../img/travel-packages/gallery-2tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .image-gallery .image.thirdy {
    background: url(../img/travel-packages/gallery-3tablet.png) no-repeat;
    background-size: cover;
    background-position: center;
  } 
}
@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }
  .content-container .text-contet {
    width: 360px;
  }
  .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }
}
