@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {

     --primary-color:#8f0101;
    --secundary-color:#b81515;
    
    --brackground-primary-color: #ffffff;
    --brackground-secundary-color: #f5f5f5;
    --brackground-terciary-color: #0000;

    --text-primary-color: #222222;
    --test-secundary-color:#ffffff;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

