:root {
    --brackground-primary-color: #ffffff;
    --brackground-secundary-color: #f5f5f5;
    --brackground-terciary-color: #0000;

    --butoon-primary-color:#8f0101;
    --butoon-secundary-color:#b81515;

    --text-primary-color: #222222;
    --test-secundary-color:#ffffff;
}

